{{ partial "header.html" . }}

<div class="content">
  <h1>{{ .Title }}</h1>
  <aside>{{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a></a>&nbsp;&nbsp;&nbsp;{{end}}</aside>
  <p>{{ .Content }}</p>
</div>

{{ if (eq .Type "posts") }}
  <hr>
  <p>Written on {{ .Date.Format "Jan 2, 2006"}}.</p>
  <a href="#top">Back To Top</a>
{{ end }}

{{ partial "footer.html" . }}
