@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* reset */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: 'Merriweather', Helvetica, Arial, sans-serif;
	padding: 0rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

header {
	display: block;
	padding: 1.3rem 0;
	border-bottom: .07em solid #eee;
}

@media all {
	html {
		font-size: 18px;
	}
	body>* {
		font-size: 100%;
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
}

@media all and (max-width:840px) {
	html {
		font-size: 15px;
	}
	body>* {
		margin-left: 5.5rem;
		margin-right: 5.5rem;
	}
}

@media all and (max-width:760px) {
	body>* {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

@media all and (max-width:580px) {
	body>* {
		margin: .7rem 1.5rem 0 1.5rem;
	}
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.35;
	margin-top: .6em;
	margin-bottom: .6em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5,
h6 {
	font-size: 1.2em;
}

div.content {
	display: block;
	padding: 1rem 0;
}

@media all and (max-width:520px) {
	div.content {
		padding: 0;
	}
}

footer {
	display: block;
	padding: .5rem 0 5.5rem 0;
}

aside {
	font-size: .9em;
	line-height: .9;
	color: #7a8288;
}

aside em {
	font-size: .7rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.45;
}

ul,
ol {
	margin-bottom: 1em;
	padding-left: 1em;
}

li {
	line-height: 1.75em;
	margin-left: .75em;
	list-style-type: none;
}

table {
	margin-bottom: 1.5rem;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	width: 95%;
}

td,
th {
	text-align: left;
	padding: .25rem .5rem;
	border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

img {
	display: block;
	border-radius: 5px;
	max-width: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #777;
}

a:hover {
	color: #0366d6;
}

p a {
	color: #0366d6;
}

code,
pre {
	font-family: Menlo, Monaco, 'Courier New', monospace;
}

code {
	padding: .25em .25em;
	background: #f8f8f8;
	font-size: 90%;
	margin-bottom: 20px;
}

pre {
	font-size: .9rem;
	background: #f8f8f8;
	padding: 1em;
	margin-bottom: 20px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

figcaption {
	font-weight: 400;
	font-style: italic;
	font-size: .7em/1.52;
	line-height: 1.3;
	color: #666665;
	outline: 0;
	z-index: 300;
	text-align: center;
}

blockquote {
	border-left: 3.5px solid #0594cb;
	margin: .7em 10px;
	padding: .7em 20px;
}

blockquote p {
	display: inline;
}

/* added by grant barton */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
