{{ partial "header.html" . }}

<div class="content">
    <h1>{{ title .Data.Term  }} Posts</h1>
    {{ range .Site.RegularPages.ByDate.Reverse }}
    {{ if eq .Type "posts" }}
    <p>
        <aside>{{ .Date.Format "January 2, 2006"}}</aside>
        <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>{{ end }}
    </p>
    {{ end }}
    {{ end }}
</div>

{{ partial "footer.html" . }}